body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main{
width: 500px;
height: 300px;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
border: 1px solid black;
}
.main div{
    width: 100px;
    height: 120px;
    background-color: rgb(134, 188, 204);
    margin: 10px;
    border: 1px solid black;
}
@media screen and (max-width:490px){
.main{
width: 50%;
height: 100%;
display: flex;
justify-content: center;
border: none;
}
    .main div{
        margin-top: -50px;
        width: 100px;
        height: 120px;
        background-color: rgb(134, 188, 204);
        margin: 10px;
        border: 1px solid black;
    }
}